<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<div class="container">
		<div class="jumbotron py-2 mb-1 d-flex">
			<div id="head1">
				<img src="assets/img/burger.png" alt="burger">
				<h1>Burger Me!</h1>
			</div>
			<div id="head2" class="align-self-end pl-3">
				<form class="create-form">

					<div class="form-group">
						<label for="burger-id">Enter your burger</label>
						<input type="text" id="burger-id" name="name">
					</div>

					<button type="submit">Add Burger</button>
					<span id="burger-error"></span>
				</form>
			</div>
		</div>
		<div class="work-area">
			{{{ body }}}
		</div>
		<!-- Modal -->
		<div id="devour-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title"><strong>Rate this burger</strong></h2>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<form id="devour-form">
						<div class="form-group">
							<div class="modal-body">
								<label for="customer-name">Enter customer name</label>
								<input class="form-control" id="customer-name" type="text" placeholder="name..."
									required>
								<div class="form-check-inline mt-3">
									<label class="form-check-label" >
										<input type="radio" class="form-check-input" name="rating" value="1" required>1
										(Meh...)
									</label>
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="rating" value="2">2
									</label>
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="rating" value="3">3
									</label>
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="rating" value="4">4
									</label>
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="rating" value="5">5
										(Heavenly Delicious!)
									</label>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" id="btn-submit" class="btn btn-primary">Submit</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>